.modaloverlay {
    background-color: color-mix(
        in srgb,
        var(--backgroundcolor) 90%,
        transparent
    );
    width: 100vw;
    height: 100vh;
    max-width: 100dvw;
    max-height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadein 0.5s ease;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}
.modal {
    background-color: var(--backgroundcolor);
    border: 1px solid var(--primarycolor);
    border-radius: 0.2rem;
    max-width: 80vw;
    max-height: 90vh;
    position: relative;
    animation: open 1s forwards;
}
@keyframes open {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
.modalcontent {
    margin-top: 1rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 80vh;
    max-width: 100%;
    padding-bottom: 2rem;
    overflow-x: hidden;
    color: var(--fontcolor);
}

.closebt {
    background-color: var(--backgroundcolor);
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    color: var(--fontcolor);
    cursor: pointer;
}

@media (max-width: 500px) {
    .modal {
        max-width: 90dvw;
        max-height: 90dvh;
    }
}
