.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    padding-right: 5rem;
}
.menuitem {
    display: flex;
    gap: 0.1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.menuicon {
    width: 1rem;
    height: 1rem;
}
.menutxt {
    font-size: 1rem;
}
.selected {
    color: var(--primarycolor);
}
