.list {
    max-width: 100%;
    padding-top: 0.5rem;
    gap: 1rem;
}
.list > li {
    margin-left: 1rem;
    margin-bottom: 0.25rem;
}
.txtbox {
    margin-top: 0.5rem;
}
.pic {
    transform: rotate(20deg);
    width: 8rem;
    position: relative;
    top: -5.5rem;
    left: 9rem;
    border-radius: 0.25rem;
}
.pic2 {
    transform: rotate(-20deg);
    width: 30rem;
    position: relative;
    top: -1rem;
    left: 1rem;
    border-radius: 0.25rem;
}
.pic3 {
    transform: rotate(-25deg);
    width: 12rem;
    position: relative;
    top: 1rem;
    left: 3rem;
    border-radius: 0.25rem;
}

.hidden {
    opacity: 0.8;
}
.iconbox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.largeicon {
    width: 15%;
    font-size: 2rem;
}

.iconContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem; /* 控制圖標之間的間距 */
    margin-top: 1rem; /* 確保 h2 和圖標之間有適當距離 */
    height: calc(100% - 2rem); /* 確保圖標區域的高度 */
    width: 100%;
}
.floatIcon {
    width: 15%;
    font-size: 2rem;
    animation: float 3s infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.3rem);
    }
    100% {
        transform: translateY(0);
    }
}
